.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
}

.nolink, .nolink:hover { color: black}

.hat img { 
 height: 85px; 
}
